
body {
    margin: 0 auto;
    box-sizing: border-box;
    width: 1200px;
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

.delimiter {
    background-color: #1382ff;
    width: 100%;
    height: 3px;
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    margin: 20px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.color_social {
    color: #1382ff;
}

.color_social {
    color: #1382ff;
}

.color_social {
    color: #1382ff;
}

.photo {
    width: 300px;
}

.shadow {
    margin: 60px 0;
    cursor: pointer;
    background-color: #c5c5c5;
}

.shadow:hover .shadow_item {
    transform: translate3d(-8px, -8px, 0);
}

.shadow_item {
    transition: transform .2s linear;
}

a img {
    display: block;
}

/*Information*/

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin: 40px 0;
    flex-direction: column;
}

.information h1 {
    margin: 10px 0;
}

/*Skills*/

.skills {
    height: 300px;
    margin: 40px 0;
}

.center {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center h1 {
    margin: 70px 0;
}

.wrap span {
    margin: 0 20px;
}

/*Code*/
.code {
    height: 300px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.code h1 {
    margin: 10px 0;
}

/*experience*/

.experience {
    height: 300px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experience h1 {
    margin: 10px 0;
}

.experience h3 {
    margin: 5px 0;
}

/*footer*/

.footer {
    height: 300px;
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper a {
   margin: 10px 0;
}

.school {
    width: 250px;
    height: 200px;
}

.href {
    text-decoration: none;
    color: #1382ff;
}